.header {
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    font-size: 2rem
}

.formAlign {
    width: 30%;
    margin: auto;
    padding: .9rem;
    position: relative;
    top: 8rem;
    box-shadow: 1px 0px 10px 1px;

}

.btn {
    background-color: rgb(0, 132, 255);
    width: 10rem;
    color: rgb(255, 255, 255);
    padding: .2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
}

.input {
    display: block;
    width: 28rem;
    height: 1.7rem;
}

.label {
    display: block;
    font-family: cursive;
}